{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Cart{% endblock %}

{% block body %}
    <h1>Cart list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'label.image'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.price'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in cart_manager.getProducts() %}
            <tr>
                <td><img src="{{ asset('uploads/images/' ~ product.image)|imagine_filter('thumb') }}"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price|number_format(2, ',', '.') }}</td>
                <td>
                    <a href="{{ path('app_cart_delete', { 'id': product.id }) }}"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colpsan="4">{{ 'label.no_entities'|trans }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td class="well" colspan="2">{{ 'label.total'|trans }}: {{ cart_manager.getAmount()|number_format(2, ',', '.') }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary pull-right" href="{{ path('app_checkout_new') }}">{{ 'label.checkout'|trans }}</a>

    <ul>
        <li>
            <a href="{{ path('app_store_index') }}">
                {{ 'label.back_store'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}