{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Category{% endblock %}

{% block body %}
    <h1>Category list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{% if category.createdAt %}{{ category.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_category_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'label.no_entities'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_category_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
