{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - New category{% endblock %}


{% block body %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('app_category_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
