<br>
<a href="{{ path('app_store_index') }}">
    <i class="glyphicon glyphicon-home" aria-hidden="true"></i> {{ 'label.homepage'|trans }}
</a>

<h3>Cart</h3>
<div class="row well">
    <div class="col-md-12">
        <a href="{{ path('app_cart_index') }}">
            <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> {{ 'label.products'|trans }} <span class="badge">{{ cart_manager.getQuantitiesProducts() }}</span><br>
            {{ 'label.total'|trans }}: {{ cart_manager.getAmount()|number_format(2, ',', '.') }}
        </a>
    </div>
</div>

{% if app.request.attributes.get('_route') == 'app_store_index' %}
<h4><i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search</h4>
<div class="well">
{{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_row(form.q) }}
    </div>

    <div>
        {{ form_row(form.cat) }}
    </div>

    <button type="submit" class="btn">Filter</button>

    {{ form_rest(form) }}
{{ form_end(form) }}
</div>
{% endif %}

<h4><i class="glyphicon glyphicon-user" aria-hidden="true"></i> Administration</h4>
<ul class="nav nav-pills nav-stacked well">
    <li>
        <a href="{{ path('app_category_index')}}">
            {{ 'label.category'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('app_product_index')}}">
            {{ 'label.product'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('app_checkout_index')}}">
            {{ 'label.checkout'|trans }}
        </a>
    </li>
</ul>