{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Product{% endblock %}

{% block body %}
    <h1>Product list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Color</th>
                <th>Size</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td><img src="{{ asset('uploads/images/' ~ product.image)|imagine_filter('thumb') }}"></td>
                <td>{{ product.price }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.size }}</td>
                <td>
                    {% for category in product.categories %}
                        {{ category }} {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'label.no_entities'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_product_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
