{% extends 'base.html.twig' %}

{% block body %}
    <h1>Checkout list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Products</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checkout in checkouts %}
            <tr>
                <td>{{ checkout.name }}</td>
                <td>{{ checkout.phone }}</td>
                <td>{{ checkout.address }}</td>
                <td>{{ checkout.city }}</td>
                <td>{{ checkout.state }}</td>
                <td>
                {% for product in checkout.products %}
                    {{ product.name }} <br>
                {% endfor %}
                </td>
                <td>{% if checkout.createdAt %}{{ checkout.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_checkout_show', { 'id': checkout.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_checkout_edit', { 'id': checkout.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'label.no_entities'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
