{% extends 'base.html.twig' %}

{% block body %}
    <h1>Checkout</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ checkout.name }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ checkout.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ checkout.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ checkout.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ checkout.state }}</td>
            </tr>
            <tr>
                <th>Products</th>
                <td>
                {% for product in checkout.products %}
                    {{ product.name }}<br>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_checkout_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('app_checkout_edit', { 'id': checkout.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
