{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
    <h1>Products</h1>

    <div class="row">
    {% for product in products %}
        <div class="col-md-4 box-product">
            <img class="text-center" src="{{ asset('uploads/images/' ~ product.image)|imagine_filter('index') }}">

            <h3>{{ product.name }}</h3>

            <ul>
                <li>
                    <a href="{{ path('app_store_show', { 'id': product.id }) }}">Details</a>
                </li>
                <li>
                    <a href="{{ path('app_cart_new', { 'id': product.id }) }}">Add cart</a>
                </li>
            </ul>
        </div>
    {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
