{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <img class="text-center" src="{{ asset('uploads/images/' ~ product.image)|imagine_filter('details') }}">
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>

            <p>Color: {{ product.color }}</p>
            <p>Size: {{ product.size }}</p>

            <p>Description</p>
            <p>{{ product.description }}</p>

            <a class="btn" href="{{ path('app_cart_new', { 'id': product.id }) }}">Add cart</a>
        </div>
    </div>
{% endblock %}